[merge "aggregate"]
	name = aggregate both new sections, working branch after target branch
	driver = tgt=master; Afile=appendable_file.txt; top=\"$(git rev-parse --show-toplevel)\"; tgtfile=${top}/${Afile}; tmpfile=$(mktemp); git show origin/${tgt}:${Afile} > ${tmpfile}; git diff --exit-code --quiet origin/${tgt}:${Afile} -- ${tgtfile} && (comm -13 --nocheck-order %O %B >> %A) || (comm -13 --nocheck-order %O %A >> ${tmpfile}; cp ${tmpfile} %A; git diff --exit-code --quiet origin/${tgt}:${Afile} -- %B || (comm -13 --nocheck-order %O %B >> %A))
